# SPDX-FileCopyrightText: 2023 Felix Wege, EONERC-ACS, RWTH Aachen University
# SPDX-License-Identifier: Apache-2.0
.vscode/launch.json

# Python
/.pre-commit-config.yaml
*.pyc
__pycache__/

# Nix
*result*
*.qcow2
/.direnv
